<h2>Sign Up Here</h2>
<div>
  <form method="post" action="/users">
    <label for="name">Username: </label>
    <input type="text" name="name" id="name" required>
    <br><br>
    <label for="password">Password: </label>
    <input type="password" name="password" id="password" required>
    <br><br><br>
    <input type="submit" value="Submit">
  </form>
</div>