<h2>Add a new game to your list, <%=@user.name%></h2>
<br>
<div class="form-group">
  <form method="post" action="/games">
    <input id="hidden" type="hidden" name="user_id" value="<%=current_user.id%>">
      <label for="name">Name</label>
      <input type="text" name="name" required>
    <br><br>
      <label for="system">System/console</label>
      <input type="text" name="system" required>
    <br><br>
      <label for="priority">Priority</label>
      <select name="priority">
        <option value="Low">Low</option>
        <option value="Medium">Medium</option>
        <option value="High">High</option>
      </select>
    <br><br>
    <input type="submit" value="Create Game" class="btn btn-primary">
  </form>
</div>