
  <% if flash[:message] %>
  <div class="alert alert-info">
    <%= flash[:message] %>
    </div>
<% end %>

<% if !flash[:message] %>
<h2>Welcome</h2>
<%end%>
<%if logged_in?%>
<a class="btn btn-default" href="/">Home</a>
<%end%>
<br>
<p><a class="btn btn-default" href="/users/login">Login</a> <a class="btn btn-default" href="/users/new">Signup</a></p>