<!DOCTYPE html>
<html>
  <head>
    
    <title>Games Backlog Tracker</title> 
  </head>
  <body>
    <header>
      <h1>Games Backlog Tracker</h1>
    </header>
    <div>
      <%=yield%>
    </div>
  </body>
</html>