<!DOCTYPE html>
<html>
  <head>
    
    <title>Games Backlog Tracker</title> 
  </head>
  <body>
    <header>
      <h1>Games Backlog Tracker</h1>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
      <nav>
        <%if logged_in?%>
        <a class="btn btn-default" href="/games">Home</a>
        <a class="btn btn-default" href="/logout">Log Out</a>
        <br><br>
        <a class="btn btn-success" href="/games/new">Add a game</a>
        <%end%>
      </nav>
    </header>
    <div>
      <%=yield%>
    </div>
    <footer>
  
    </footer>
  </body>
</html>